@import '../../../Styles/variables';

.Card {
    position: relative;
    background: white;
    padding: 12px 24px;
    margin-bottom: 24px;
    border-radius: 2px;
    box-shadow: $elevation-1;
    &-help {
        position: absolute;
        top: -8px;
        right: -8px;
        display: inline-block;
        .Icon {
            font-size: 21px;
        }
    }
    &-body {
        margin: 12px 0;
    }
}