.Portfolio {
  margin: 36px auto;
  width: 1024px;
  padding: 0 36px; }
  .Portfolio-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; }
    .Portfolio-actions li {
      margin-left: 12px; }
