.Portfolio {
    margin: 36px auto;
    width: 1024px;
    padding: 0 36px;
    &-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        li {
            margin-left: 12px;
        }
    }
}