.Portfolio {
    margin: 36px auto;
    width: 100%;
    //max-width: 1260px;
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 32px;
        margin-bottom: 24px;
    }

    &-actions {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin: 0;
        li {
            list-style: none;
            margin-left: 12px;
        }
    }

    &-accounts {
        max-width: 70%;
        padding-right: 24px;
        flex: 1 0 auto;
    }

    &-balancer {
        width: 30%;
    }
}
