.Portfolio {
  margin: 36px auto;
  width: 100%;
  padding: 0 24px;
  display: flex;
  flex-wrap: wrap; }
  .Portfolio-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    margin-bottom: 24px; }
  .Portfolio-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0; }
    .Portfolio-actions li {
      list-style: none;
      margin-left: 12px; }
  .Portfolio-accounts {
    max-width: 70%;
    padding-right: 24px;
    flex: 1 0 auto; }
  .Portfolio-balancer {
    width: 30%; }
