@import '../Styles/variables';

.App {
    &-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 80px;

    }
    &-header {
        background-color: $color-brand;
        padding: 18px 24px;
        height: 66px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            font-weight: 400;
            margin: 0;
        }
    }

    &-changelogs {
        position: relative;
        &-trigger {
            display: flex;
            align-items: center;
            > * {
                margin-left: 6px;
            }
        }
    }
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
