.Button {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 6px 12px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  cursor: pointer;
  transition-property: background-color, color, opacity;
  transition-duration: 100ms;
  transition-timing-function: ease-in; }
  .Button:focus {
    outline: none; }
  .Button:hover {
    color: #3F3F44; }
  .Button-icon + .Button-text {
    margin-left: 4px; }
  .Button + .Button {
    margin-left: 12px; }
  .Button--sm {
    padding: 5px 10px;
    font-size: 13px; }

.Button--default {
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.6);
  border-radius: 2px; }
  .Button--default:hover {
    background: rgba(17, 17, 17, 0.03);
    color: #111111; }

.Button--primary {
  background: #111111;
  border: 1px solid #111111;
  border-radius: 2px;
  color: #fff; }
  .Button--primary:hover {
    opacity: 0.8;
    color: #fff; }
