@import '../../../Styles/variables';

.Button {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 6px 12px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: $color-brand;
    cursor: pointer;
    transition-property: background-color, color, opacity;
    transition-duration: 100ms;
    transition-timing-function: ease-in;

    // Children
    &-icon {

    }

    &-icon + &-text {
        margin-left: 4px;
    }

    // States
    &:focus {
        outline: none;
    }

    &:hover {
        color: $color-primary;
    }

    &[disabled] {
        opacity: 0.4;
        pointer-events: none;
    }

    // Positions
    &--center {
        margin: 0 auto;
    }

    + .Button {
        margin-left: 12px;
        &--center {
            margin-left: auto;
            margin-top: 12px;
        }
    }

    // Sizes
    &--sm {
        padding: 5px 10px;
        font-size: 13px;
    }

    &--lg {
        padding: 10px 18px;
        font-size: 16px;
    }
}


// Variants
.Button--default {
    background: #fff;
    border: 1px solid rgba($color-brand, .6);
    border-radius: 2px;
    &:hover {
        background: rgba($color-brand, .03);
        color: $color-brand;
    }
}

.Button--primary {
    background: $color-brand;
    border: 1px solid $color-brand;
    border-radius: 2px;
    color: #fff;
    &:hover {
        opacity: 0.8;
        color: #fff;
    }
}

.Button--inverted {
    color: #fff;
    &:hover {
        opacity: 0.8;
        color: #fff;
    }
}