.Accounts {
    &:last-child {
        margin-bottom: 0;
    }
}

.Account {
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > :last-child {
            margin-right: -18px;
        }
    }
    &-title {
        flex: 1 1 auto;
        margin: 0;
        display: flex;
        align-items: center;
        input {
            flex: 1 0 auto;
            max-width: 320px;
            border-color: transparent;
            padding: 12px 0;
            margin-right: 6px;
            font-size: 18px;
            height: 36px;
            &:focus {
                border-top-color: transparent;
                border-right-color: transparent;
                border-left-color: transparent;
            }
            &:hover {
                border-top-color: transparent;
                border-right-color: transparent;
                border-left-color: transparent;
                + * {
                    opacity: 1;
                }
            }
        }

        > :last-child {
            opacity: 0;
        }
    }
    &-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin: 12px 0;
        li {
            margin-left: 12px;
        }
    }
}