.SecurityList {
}

.TargetIndicator.TargetIndicator--danger {
  color: red; // TODO: change error color
}

.SecurityListHeader {
    &-itemSortable {
        padding-right: 18px;
        cursor: pointer;
        &:hover {
            .SecurityListHeader-arrow {
                opacity: 1;
                &--hidden {
                    opacity: 0.6
                }
            }
        }
    }
    &-arrow {
        display: inline-block;
        vertical-align: middle;
        transition: opacity 100ms ease-in;
        &--hidden {
            opacity: 0.2
        }
    }
}