.SecurityListHeader-itemSortable {
  padding-right: 18px;
  cursor: pointer; }
  .SecurityListHeader-itemSortable:hover .SecurityListHeader-arrow {
    opacity: 1; }
    .SecurityListHeader-itemSortable:hover .SecurityListHeader-arrow--hidden {
      opacity: 0.6; }

.SecurityListHeader-arrow {
  display: inline-block;
  vertical-align: middle;
  transition: opacity 100ms ease-in; }
  .SecurityListHeader-arrow--hidden {
    opacity: 0.2; }
