
.SecurityList {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 24px;
    tr {
        td, th {
            height: 30px;
            padding: 8px;
            line-height: 1.42857;
            border-top: 1px solid #e7ebf3;
            text-align: right;
        }
        th {
            font-weight: 400;
            color: #596981;
        }
        td {
        }
    }

    thead {
        tr {
            th {
                vertical-align: bottom;
                border-top: 0;
                border-bottom: 1px solid #CFD7E6;
            }
        }
    }
    tbody {
        + tbody td {
            border-top: 1px solid #CFD7E6;
        }
        tr:hover {
            background-color: #fafbfc;
        }
    }
    tfoot {
        tr {
            background-color: #fafbfc;
        }
    }

    input {
        max-width: 84px;
        font-size: 12px;
        box-sizing: border-box;
        text-align: right;
        border: 1px solid #CFD7E6;
        border-radius: 3px;
        height: 28px;
        padding: 2px 12px;
        transition: border-color 200ms ease-in;
        &:focus {
            outline: 0;
            border-color: #79589F;
        }
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.SecurityList-row {
    &-cell--actions {
        text-align: center;
        width: 40px;
    }
    &-cell--left {
        text-align: left;
        input {
            text-align: left;
        }
    }
    &-cell--center {
        text-align: center;
    }
    &-cell--symbol{
        width: 96px;
        text-align: left;
    }
}



.TargetIndicator.TargetIndicator--danger {
  color: red;
}
