.Balancer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 32px;
  margin-bottom: 24px; }

.Balancer-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0; }
  .Balancer-actions li {
    list-style: none;
    margin-left: 12px; }
