.UserLogin {
    padding: 24px 24px 0 24px;
    width: 100%;
    max-width: 380px;
    &-header {
        text-align: center;
        margin-top: 18px;
        margin-bottom: 18px;
        img {
            margin-bottom: 12px;
        }
    }
    label {
        display: block;
        margin-bottom: 6px;
        font-size: 12px;
        color: #596981;
    }
    input {
        max-width: none;
        width: 100%;
    }

    &-footer {
        &-note {
            color: #596981;
            text-decoration: none;
        }
        margin-bottom: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// TODO: Move to component
.FormElement {
    margin-bottom: 24px;
    input + .FormElement-help {
        margin-top: 4px;
        text-align: right;
    }
    &-help {
        display: block;
        a {
            color: #596981;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
