.UserLogin {
  width: 100%; }
  .UserLogin-header {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px; }
    .UserLogin-header img {
      margin-bottom: 12px; }
  .UserLogin label {
    display: block;
    margin-bottom: 6px;
    font-size: 12px;
    color: #596981; }
  .UserLogin input {
    max-width: none;
    width: 100%; }
  .UserLogin-footer {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .UserLogin-footer-note {
      color: #596981;
      text-decoration: none; }

.FormElement {
  margin-bottom: 24px; }
  .FormElement input + .FormElement-help {
    margin-top: 4px;
    text-align: right; }
  .FormElement-help {
    display: block; }
    .FormElement-help a {
      color: #596981;
      text-decoration: none; }
      .FormElement-help a:hover {
        text-decoration: underline; }
