@import 'Styles/normalize';

$color-brand: #79589F;

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #3F3F44;
}

.Button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 6px 12px;
    background: #fff;
    border: 1px solid rgba($color-brand, .6);
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    color: $color-brand;
    cursor: pointer;
    &:focus {
        outline: none;
    }
    &:hover {
        background: #FAF7FD;
    }

    &-icon {
        margin-right: 4px;
    }

    &-text {

    }

    + .Button {
        margin-left: 12px;
    }

    &--small {
        padding: 5px 10px;
        font-size: 13px;
    }
}


.Checkbox {
    display: inline-block;
    font-size: 12px;
    color: #596981;
    label[for] {
        cursor: pointer;
    }
    input {
        margin-right: 4px;
    }
}
