body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.Portfolio {
  margin: 36px auto;
  width: 1024px;
  padding: 0 36px;
}
.Portfolio-actions {
  display: flex;
  justify-content: flex-end;
}

.SecurityList {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin-bottom: 24px;
}

.SecurityList td,
.SecurityList th {
  padding: 12px;
  text-align: right;
  border: 1px solid lightgray;
}

.SecurityList td input {
  text-align: right;
}

.SecurityList th {
  text-align: center;
}

.SecurityList input {
  max-width: 80px;
  font-size: 12px;
  box-sizing: border-box;
}

.SecurityList thead,
.SecurityList tfoot {
  background: #EEEEEE;
}

.SecurityList .SecurityList-row-cell--left {
  text-align: left;
}
.SecurityList .SecurityList-row-cell--left input {
  text-align: left;
}
.SecurityList .SecurityList-row-cell--center {
  text-align: center;
}

.TargetIndicator.TargetIndicator--danger {
  color: red;
}
/*
.SecurityRow {
  display: flex;
}
.SecurityRow-cell {
  padding: 0 6px;
}*/