body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.Portfolio {
  margin: 36px auto;
  width: 1024px;
  padding: 0 36px;
}

.SecurityList {
  width: 100%;
}
.SecurityList td {
  padding: 6px 12px;
  text-align: right;
}
.SecurityList input {
  width: 100%;
}

.SecurityList .SecurityList-row-cell--left {
  text-align: left;
}
/*
.SecurityRow {
  display: flex;
}
.SecurityRow-cell {
  padding: 0 6px;
}*/